@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
.navbar p {
  display: inline;
  border: 1px solid rgb(37, 36, 36);
  padding: 3px;
  color: #ebe7e7;
  margin-right: 2px;
  background-color: #0d3e10;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 3px solid #ebe7e7;
}
.navbar h1 {
  color: #29773e;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 18px;
}
.navbar a:hover {
  color: white;
  background-color: #369457;
  border-radius: 10px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog content */
.blog-prev {
  margin: 8px;
  border-bottom: 1px solid #f5f1f1;
  padding-bottom: 8px;
  padding-left: 10px;
}
.blog-prev h2 {
  color: #369457;
}
.blog-prev h2:hover {
  color: #29773e;
  text-decoration: underline;
}
.blog-prev:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.blog-prev a,
h2 {
  text-decoration: none;
}
.detail-blog h2 {
  color: #369457;
}
.author {
  border-bottom: 3px solid #ebe7e7;
}
.detail-blog p {
  padding: 10px 0;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create h2 {
  color: #369457;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 3px solid #ebe7e7;
}
.create input,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.create textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.create button {
  background: #29773e;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.create button:hover {
  background: #369457;
}
